article.single.summary {
    text-align: center;

    .content {
        p {
            font-size: 0.875rem;
        }

        h2 {
            font-size: 1rem;
        }
    }
}

.single-title a,
.dark .single-title a,
.light .single-title a,
a.archive-item-link,
.dark a.archive-item-link,
.light a.archive-item-link {
    color: skyblue !important;
}